# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data
data/raw/
data/processed/
data/interim/

# Models
model/
*.pt
*.bin
*.safetensors

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
